@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ITSäkerhetsAPP</h1>
    <p>The program to create, test and search.</p>
</div>

<div style="text-align:center; padding-top:5%; " >
    <a href="/Users" class="btn btn-primary btn-lg">Users</a>
    <a href="/Login" class="btn btn-primary btn-lg" style="margin-left:10px">Log in</a>
    <a href="/Backup" class="btn btn-primary btn-lg" style="margin-left:10px">Backup</a>
    <a href="/Text/Create" class="btn btn-primary btn-lg"style="margin-left:10px">Text me</a>
</div>
