@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ItSäkerhetAPP</h1>
    <p>The program to create, test and search</p>
</div>

<div style="text-align:center; padding-top:5%; ">
    <a href="/Users" class="btn btn-primary btn-lg">Users</a>
    <a href="#" class="btn btn-primary btn-lg"style="margin-left:10px">Log in</a>
    <a href="#" class="btn btn-primary btn-lg"style="margin-left:10px">Note</a>
    <a href="#" class="btn btn-primary btn-lg"style="margin-left:10px">Read file</a>
</div>
